* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
body {
  font: 14px "Helvetica Neue", arial, serif;
  background: url("images/back.png") top center;
}
h1 {
  font: 55px "Pacifico", serif;
  font-weight: normal;
  text-shadow: 2px 2px 2px #aaa;
}
h2 {
  font-size: 18px;
  font-weight: normal;
}
h2 .icon {
  background: url("images/feed.png");
  height: 12px;
  width: 12px;
  margin: 0 5px;
  display: inline-block;
}
h2 .title {
  color: #000;
}
#global {
  text-align: center;
}
#content {
  width: 500px;
  margin: 50px auto;
}
form {
  margin: 30px 0;
}
input[type=submit],
input[type=url] {
  padding: 5px 10px;
  font-size: 22px;
  color: #000;
  display: inline-block;
  border: 1px solid #000;
}
input[type=url] {
  width: 400px;
  margin-right: 10px;
  border-radius: 2px;
}
input[type=submit] {
  color: #fff;
  background: #000;
  border-radius: 2px;
}
.mejs-container {
  display: inline-block;
  margin: 4px 0;
}
article {
  list-style-type: none;
  margin-bottom: 30px;
}
article header strong {
  font-size: 22px;
  font-weight: bold;
  display: block;
}
article header span {
  color: #777;
  font-weight: normal;
  display: block;
}
article footer {
  font-size: 13px;
  color: #777;
}
article footer a,
article footer span,
article footer time {
  color: #777;
  display: inline-block;
  margin: 0 5px;
}
.clear {
  color: #777;
  font-size: 11px;
}
