* {
  margin: 0;
  padding: 0;
}
body {
  font: 14px "Helvetica Neue", "Lucida Grande", "Arial";
  background: url("images/back.png");
}
h1 {
  font: 55px "Pacifico", serif;
  font-weight: normal;
  text-shadow: 2px 2px 2px #aaa;
}
h2 {
  font-size: 18px;
  font-weight: normal;
}
#global {
  text-align: center;
}
#content {
  width: 500px;
  margin: 50px auto;
}
form {
  margin: 20px 0;
}
input[type=submit],
input[type=url] {
  padding: 5px 10px;
  font-size: 22px;
  color: #000;
  display: inline-block;
  border: 1px solid #000;
}
input[type=url] {
  width: 400px;
  margin-right: 10px;
  border-radius: 2px;
}
input[type=submit] {
  color: #fff;
  background: #000;
  border-radius: 2px;
}
